@page "/monitoring/accesschannel/{id:int}"

<PluginBase>
    <PluginContent>
        <h1>Access channel @Id</h1>
        <p> This would contain the channel details.</p>
    </PluginContent>
    <PluginActions>
        <h3>Access control actions</h3>
        <p> This would contain the channel details.</p>
    </PluginActions>
</PluginBase>

@code {
    [Parameter] public int Id { get; set; }
}
