@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject AuthenticationStateProvider AuthenticationStateProvider

<footer class="fixed-bottom" style="background-color: #e3f2fd;">
    <AuthorizeView>
        <i class="fa-solid fa-user"></i>
        <span>Utilizador: @context.User.Identity?.Name</span>
        <i class="fa-solid fa-circle-user"></i>
        <span>Perfil: @GetSiccaRoles()</span>
    </AuthorizeView>
</footer>

@code {
    protected ClaimsPrincipal? ClaimsPrincipal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        ClaimsPrincipal = authState.User;
    }

    protected string GetSiccaRoles() 
        => ClaimsPrincipal is null
            ? string.Empty
            : string.Join(",", ClaimsPrincipal.Claims.Where(claim => claim.Type == ClaimTypes.Role).Select(claim => claim.Value));
}