@inherits LayoutComponentBase

<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">SICCA</span>
        </a>
    </div>
    <!-- End Logo -->

    <Nav/>
</header>

<main id="main" class="main">
    @Body
</main>

<Footer />
