@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims;

@inject AuthenticationStateProvider AuthStateProvider

<!-- Top bar -->
<div class="search-bar navbar expand navbar-expand" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex align-items-center">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item active">
                    <a class="nav-link" href="/monitoring">
                        <i class="fa-solid fa-gauge-high"></i>
                        <span>Monitoria</span>
                    </a>
                </li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrator">
            <Authorized>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-file-invoice"></i>
                        <span>Relatórios</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item disabled">Alarmes e alertas</a></li>
                        <li><a class="dropdown-item disabled">Estados funcionamento</a></li>
                        <li><a class="dropdown-item disabled">Comunicações efectuadas</a></li>
                        <li><a class="dropdown-item disabled">Comandos efectuados</a></li>
                        <li><a class="dropdown-item disabled">Configurações</a></li>
                        <li><a class="dropdown-item disabled">Validações</a></li>
                        <li><a class="dropdown-item disabled">Pesquisa Validações</a></li>
                        <li><a class="dropdown-item disabled">Emergências</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item disabled">Sistema</a></li>
                        <li><a class="dropdown-item disabled">Contadores de canal de acesso</a></li>
                        <li><a class="dropdown-item disabled">Validações</a></li>
                        <li><a class="dropdown-item disabled">Débitos acumulados</a></li>

                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-gear"></i>
                        Administração
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item disabled" >Configurações</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item disabled">DAV</a></li>
                        <li><a class="dropdown-item" href="/admin/updates/accesschannel">Software Validador</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/admin/central">Parametrização Central</a></li>
                        <li><a class="dropdown-item disabled">Parametrização Estação</a></li>
                        <li><a class="dropdown-item disabled" >Parametrização Validadores</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item disabled">Alarmes</a></li>
                        <li><a class="dropdown-item" href="/admin/maps/editor">Mapas - Click</a></li>
                        <li><a class="dropdown-item" href="/admin/maps/editor-drag">Mapas - Draggable</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item disabled">Limpeza histórico</a></li>
                        <li><a class="dropdown-item disabled">Limpeza logs</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item disabled">Processos</a></li>

                    </ul>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@*<nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
        <AuthorizeView>
            <li class="nav-item pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">@context?.User?.Identity?.Name</span>
                </a><!-- End Profile Iamge Icon -->
            </li>
        </AuthorizeView>
    </ul>
</nav>
*@

@code {
    protected ClaimsPrincipal? User { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        User = authState?.User;
    }
}
