    <!-- Footer -->
<footer class="fixed-bottom" style="background-color: #e3f2fd;">
    <i class="bi bi-person"></i>
    <span>Utilizador: Nuno Caneco</span>
    <i class="bi bi-person-bounding-box"></i>
    <span>Perfil: Administrador, Operador</span>
</footer>
<!-- End of Footer -->