<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-linha-sintra" data-bs-toggle="collapse" href="#">
                <i class="bi bi-grid"></i><span>Linha de Sintra</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-linha-sintra" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Campolide</span>
                    </a>

                </li>
            </ul>
        </li><!-- End Linha de Sintra-->
        <li class="nav-item">
            <a class="nav-link " href="#">
                <i class="bi bi-grid"></i><span>Linha de Cascais</span>
            </a>
        </li><!-- End Linha de Cascais-->
    </ul>
</aside>
