<div class="row">
    <div class="col-lg-8">
        @PluginContent
    </div>
    <div class="col-lg-4">
        @PluginActions
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? PluginContent { get; set; }

    [Parameter]
    public RenderFragment? PluginActions { get; set; }
}