@page "/monitoring/station/{id:int}"

<PluginTemplate>
    <PluginContent><h1>Estação @Id</h1></PluginContent>
    <PluginActions><h3>Acções da estação</h3></PluginActions>
</PluginTemplate>

@code {
    [Parameter] public int Id { get; set; }
}
